<%- include("partials/adminHeader"); -%>

  <!-- Main Container -->
  <%- include("partials/sidebar"); -%>
  <%- include("partials/head"); -%>

  <!-- Main Content Area -->
  
  <div class="p-6">
    <div class="h-auto flex flex-col">

      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-bold">Categories</h3>
        <a href="/admin/categories/addcategories">
          <button class="bg-black text-white py-2 px-3 rounded-md">Add Category</button>
        </a>
      </div>
      <% if (allcategories && allcategories.length > 0) { %>
      <div class="overflow-hidden rounded-lg shadow-md max-h-[500px] overflow-y-auto">
        <table class="table-auto w-full   text-left border border-white">
          <thead class="bg-white ">
            <tr>
              <th class="px-6 py-4">Image</th>
              <th class="px-6 py-4">Category Name</th>
              <th class="px-6 py-4">IsActive</th>
              <th class="px-6 py-4">Added</th>
              <th class="px-6 py-4 text-right">Action</th>
            </tr>
          </thead>
          <tbody class="divide-y  divide-gray-300 border bg-white">
            <% allcategories.forEach((category) => { %>
            <tr class="hover:bg-gray-100 ">
              <td class="px-6 py-3">
                <img src="/uploads/<%= category.image %>" alt="Category Image" class="w-12 h-12 object-cover rounded-lg">
              </td>
              <td class="px-6 py-3"><%= category.categoryname %></td>
              <td class="px-6 py-3 <%= category.isActive === true ? 'text-green-500' : 'text-red-500' %>">
                <%= category.isActive?'Active':'Inactive' %>
              </td>
               <td class="px-6 py-3"><%= new Date(category.updatedAt).toLocaleString() %></td>
              <td class="px-6 py-3 text-right">
                <button class="text-gray-600 hover:text-black mx-2" onclick="editCategory('<%=category._id %>')">
                  <i class="bi bi-pencil"></i>
                </button>
             
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="flex justify-end items-center mt-4">
        <button class="px-4 py-2 mx-1 text-sm bg-gray-300 hover:bg-gray-400 rounded">Previous</button>
        <button class="px-4 py-2 mx-1 text-sm bg-black text-white hover:bg-gray-500 rounded">1</button>
        <button class="px-4 py-2 mx-1 text-sm bg-gray-300 hover:bg-gray-400 rounded">2</button>
        <button class="px-4 py-2 mx-1 text-sm bg-gray-300 hover:bg-gray-400 rounded">Next</button>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="p-6">
    <p class="text-center text-gray-500">No categories found.</p>
  </div>
  <% } %>


  <script>
 
function editCategory(id){
 location.assign(`/admin/categories/editcategories/${id}`)
}    
  </script>
</body>
</html>
