<%- include("partials/adminHeader"); -%>
<body class="bg-gray-50 font-sans text-gray-800">
  <!-- Main Container -->
  <%- include("partials/sidebar"); -%>
  <%- include("partials/head"); -%>

  <!-- Main Content Area -->
  <div class="p-6">
    <div class="h-auto flex flex-col">
      <div class="flex justify-between items-center">
        <h3 class="text-lg font-bold">Customers</h3>
        <!-- <a href="/admin/customers/addcustomers">
          <button class="bg-black text-white py-2 px-3 rounded-md">Add Customer</button>
        </a> -->
      </div>

      <div class="p-1">
        <% if (allUsers && allUsers.length > 0) { %>
          <div class="w-full max-h-[400px] mt-3 overflow-y-auto rounded-xl shadow-md bg-white">
            <table class="table-auto w-full border border-gray-300 text-sm">
              <thead class="bg-white text-black border-b-2">
                <tr class="border-b-1 border-gray-300">
                  <th class="px-6 py-4 text-left">Name</th>
                  <th class="px-6 py-4 text-left">Email</th>
                  <th class="px-6 py-4 text-left">Status</th>
                  <th class="px-6 py-4 text-left">Date</th>
                  <th class="px-6 py-4 text-left">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% allUsers.forEach((user) => { %>
                  <tr class="hover:bg-gray-200 border-b border-gray-300">
                    <td class="px-6 py-4"><%= user.username %></td>
                    <td class="px-6 py-4"><%= user.email %></td>
                    <td class="px-6 py-4">
                      <% if (user.status.includes('Active')) { %>
                        <span class="px-2 py-1 text-xs border-green-500   text-green-500 ">Active</span>
                      <% } else { %>
                        <span class="px-2 py-1 text-xs  border-red-500   text-red-500 ">Blocked</span>
                      <% } %>
                    </td>
                    <td class="px-6 py-4"><%= user.createdAt.toLocaleString() %></td>
                    <td class="px-6 py-4">
                      <!-- Edit Button -->
                        <button class="text-black-500" id="edit-button" onclick="editUser('<%= user.id %>')"><i class="bi bi-pencil"></i>
                        </button>
                     

                      
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->
          <div class="flex justify-end items-center mt-4">
            <button class="px-4 py-2 mx-1 text-sm bg-gray-300 hover:bg-gray-400 rounded">Previous</button>
            <button class="px-4 py-2 mx-1 text-sm bg-black text-white hover:bg-gray-500 rounded">1</button>
            <button class="px-4 py-2 mx-1 text-sm bg-gray-300 hover:bg-gray-400 rounded">2</button>
            <button class="px-4 py-2 mx-1 text-sm bg-gray-300 hover:bg-gray-400 rounded">Next</button>
          </div>
        <% } else { %>
          <p class="text-center text-gray-500 mt-4">No data found</p>
        <% } %>
      </div>
    </div>
  </div>


  <script>
    

    function editUser(id){
      location.assign(`/admin/customers/editcustomers/${id}`)
    }
  </script>
</body>
</html>
