<%- include("partials/header"); -%>
<body class="mt-[90px] bg-gray-50 font-roboto">
  <%- include("partials/navbar"); -%> <%-
  include("partials/headerForUserManagement"); -%>

  <div class="grid-cols-12 grid lg:px-[250px] py-14 gap-3">
    <%- include("partials/sidebarForUserManagement"); -%>

    <div class="col-span-10 md:col-span-8">
      <div class="font-light text-sm md:text-lg pb-[40px] flex justify-center">
        <p>You can edit your address here</p>
      </div>
      <div class="grid grid-cols-12 gap-7">
        <div class="col-span-12 bg-white">
          <div class="p-4 grid grid-cols-1 gap-3">
            <div class="flex text-sm justify-start font-medium">
              Edit Address
            </div>
            <div class="flex flex-col">
              <% if(address){ %>
              <div id="billingadress" class="w-full mt-2">
                <form
                  id="billingAddressForm"
                  action=""
                  data-adressid="<%= address._id %>"
                >
                  <div class="flex flex-col gap-2">
                    <div class="text-xs">Address</div>
                    <div>
                      <label for="name" class="text-sm">Name</label>
                      <input
                        class="w-full h-full border focus:outline-none focus:border-transparent p-2"
                        type="text"
                        id="name"
                        name="name"
                        value="<%= address.name %>"
                      />
                      <span class="text-red-500 text-xs"></span>
                    </div>
                    <div>
                      <label for="address" class="text-sm">Address</label>
                      <input
                        class="w-full h-full border focus:outline-none focus:border-transparent p-2"
                        type="text"
                        id="address"
                        name="address"
                        value="<%= address.address %>"
                      />
                      <span class="text-red-500 text-xs"></span>
                    </div>

                    <div class="flex gap-3">
                      <div class="flex-grow">
                        <div>
                          <label for="city" class="text-sm">Town/City</label>
                          <input
                            class="w-full h-full border focus:outline-none focus:border-transparent p-2"
                            type="text"
                            id="city"
                            name="city"
                            value="<%= address.city %>"
                          />
                          <span class="text-red-500 text-xs"></span>
                        </div>
                      </div>
                      <div class="flex-grow">
                        <div>
                          <label for="pincode" class="text-sm">Pincode</label>
                          <input
                            class="w-full h-full border focus:outline-none focus:border-transparent p-2"
                            type="text"
                            id="pincode"
                            name="pincode"
                            value="<%= address.pincode %>"
                          />
                          <span class="text-red-500 text-xs"></span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <label for="state" class="text-sm">State</label>
                      <input
                        class="w-full h-full border focus:outline-none focus:border-transparent p-2"
                        type="text"
                        id="state"
                        name="state"
                        value="<%= address.state %>"
                      />
                      <span class="text-red-500 text-xs"></span>
                    </div>
                    <div class="flex gap-3">
                      <div class="flex-grow">
                        <div>
                          <label for="phone" class="text-sm">Phone</label>
                          <input
                            class="w-full h-full border focus:outline-none focus:border-transparent p-2"
                            type="text"
                            id="phone"
                            name="phone"
                            value="<%= address.phone %>"
                          />
                          <span class="text-red-500 text-xs"></span>
                        </div>
                      </div>
                      <div class="flex-grow">
                        <div>
                          <label for="email" class="text-sm">Email</label>
                          <input
                            class="w-full h-full border focus:outline-none focus:border-transparent p-2"
                            type="text"
                            id="email"
                            name="email"
                            value="<%= address.email %>"
                          />
                          <span class="text-red-500 text-xs"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="justify-center flex flex-col mt-2">
                    <div class="flex justify-center">
                      <button
                        type="submit"
                        class="mt-2 py-[15px] px-[80px] bg-black text-white text-xs"
                      >
                        Save
                      </button>
                    </div>
                    <div class="flex justify-center">
                      <button
                        type="button"
                        class="mt-2 py-3 px-[70px] text-xs"
                        onclick="cancel()"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <% } else { %>
              <div>no address found</div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="notification" class="hidden"></div>
  <script src="/javascript/user/editAddress.js"></script>
  <%- include('partials/footer'); -%>

