<%- include("partials/header"); -%>
<body class="mt-[90px] bg-gray-50 font-roboto">
  <%- include("partials/navbar"); -%>
  <%- include("partials/headerForUserManagement"); -%>

  <div class="grid-cols-12 grid lg:px-[250px] py-14 gap-3 min-h-screen">
    <%- include("partials/sidebarForUserManagement"); -%>

    <div class="col-span-10 md:col-span-8">
      <div class="font-light items-start text-sm md:text-lg pb-[40px] flex justify-center">
        <p>You can manage your orders here</p>
      </div>

      <div class="flex bg-white gap-3 mb-5 p-3 justify-between">
<div class="justify-center flex">
  Orders
</div>

        <div>
          <button
          id="showAllOrders"
          class="px-2 text-xs py-1  text-black underline  "
        >
          Show All Orders
        </button>
        <button
          id="showPendingOrders"
          class="px-2 py-1 text-xs text-black underline  "
        >
          Show Pending Orders
        </button>
        </div>
        
      </div>

      <div class="grid grid-cols-12 gap-7">
        <div class="col-span-12">
          <div
            class="flex flex-col gap-3"
            id="orderslist"
            data-orders='<%- JSON.stringify(orders || []) %>'
          >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascript/user/ordersView.js"></script>

  <%- include('partials/footer'); -%>

