<%- include("partials/header"); -%>
<body class="mt-[90px] bg-gray-50 font-roboto">

<%- include("partials/navbar"); -%>

<%- include("partials/headerForUserManagement"); -%>

<div class="grid-cols-12 grid lg:px-[250px] py-14 gap-3 min-h-screen">

   <%- include("partials/sidebarForUserManagement"); -%>

   <div class="col-span-10 md:col-span-8">
    <div class="font-light items-center text-sm md:text-lg pb-[40px] flex justify-center">
      <p>You can invite a friend</p>
    </div>
    <div class="grid grid-cols-12 gap-7">
      <div class="col-span-12 bg-white">
        <div class="h-[300px] bg-white flex justify-center items-center flex-col gap-1">
          <div><i class="bi bi-gift text-6xl"></i></div>
          <div class="font-normal text-2xl">Referral Program</div>
          <div class="font-light text-xs lg:text-sm">
            Share this link with a friend so you will get <span class="font-medium">Rs.100</span> reward to your wallet.
          </div>
  
          <div class="mt-4 w-full flex justify-center items-center gap-2 relative">
            <div class="relative w-3/4">
              <input 
                type="text" 
                id="referralLink" 
                value="https://purelyyou.beauty/signup" 
                class="p-2 w-full border border-gray-300 rounded-md pr-12" 
                readonly 
                data-token="<%= token %>" 
              />
              <i class="bi bi-copy absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer" id="copyButton"></i>
            </div>
          </div>
          
        </div>
      </div>
  
      <div class="col-span-3 p-4">
      </div>
    </div>
  </div>
  
  
  
</div>
<div id="notification" class="text-sm mt-2"></div>
<script src="/javascript/user/referral.js"></script>

<%- include('partials/footer'); -%>
